@page "/"

<div class="row">
    <div class="col-sm-4">
        <div class="card border-dark">
            <div class="card-body">
                <h5 class="card-title">UA Viewer</h5>
                <p class="card-text">通过浏览器的 navigator 查看 User Agent 等信息</p>
                <a href="./ua" class="btn btn-outline-dark">立即查看</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-dark">
            <div class="card-body">
                <h5 class="card-title">GUID Gen</h5>
                <p class="card-text">GUID(UUID) 全局唯一标识符生成器</p>
                <a href="./guidgen" class="btn btn-outline-dark">立即生成</a>

            </div>
        </div>
    </div>
</div>
