@page "/ua"

@using BunLab.Client.Models.UA

@inject IJSRuntime JSRuntime

<div id="UAViewer">

    <h1 class="display-4">UA Viewer</h1>
    <hr />


    @foreach (var p in properties)
    {
        <div class="navigator-item">
            <h1 class="font-weight-light">
                <a href="@p.Url" class="text-dark" title="前往 MDN 了解更多">@p.Name <ion-icon name="open-outline"></ion-icon></a>
            </h1>
            <p>@p.Value</p>
        </div>
    }

</div>

@code {
    private List<UAPageItem> properties = new List<UAPageItem>
{
        new UAPageItem("userAgent", "https://developer.mozilla.org/docs/Web/API/NavigatorID/userAgent"),
        new UAPageItem("appCodeName", "https://developer.mozilla.org/docs/Web/API/NavigatorID/appCodeName"),
        new UAPageItem("appName", "https://developer.mozilla.org/docs/Web/API/NavigatorID/appName"),
        new UAPageItem("cookieEnabled", "https://developer.mozilla.org/docs/Web/API/Navigator/cookieEnabled"),
        new UAPageItem("language", "https://developer.mozilla.org/docs/Web/API/NavigatorLanguage/language"),
    };

    private async Task<string> GetNavigatorProperty(string propertyName)
    {
        return await JSRuntime.InvokeAsync<string>("getNavigatorProperty", propertyName);
    }

    private async Task Init()
    {
        foreach (var p in properties)
        {
            p.Value = await GetNavigatorProperty(p.Name);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
}

<style>
    #UAViewer .navigator-item ion-icon {
        font-size: 16px;
    }
</style>