<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="/icon-512.png" width="30" height="30" alt="Bun Lab Logo" />
        Bun Lab
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <ion-icon name="home-outline"></ion-icon>
                Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ua">
                <ion-icon name="radio-button-off-outline"></ion-icon>
                UA Viewer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guidgen">
                <ion-icon name="radio-button-off-outline"></ion-icon>
                GUID Gen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <ion-icon name="alert-circle-outline"></ion-icon>
                About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

<style>
    .sidebar .nav ion-icon {
        margin-right: 0.5em;
    }
</style>